.inputsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .forgotPassword {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #313037;
  }
  .forgotPassword span {
    font-weight: 700;
  }
  .button {
    margin-top: 48px;
    text-align: center;
  }
  .signUpRedirectContainer {
    margin-top: 24px;
    align-self: center;
  }
  .dark {
    color: #ffffff;
  }