.container {
  display: flex;
  position: relative;
  height: 84px;
  background-color: #2231aa;
  justify-content: space-between;
  /* align-items: center; */
}
.burgerButton {
  display: flex;
  align-items: center;
}
